---
layout: default
---

<h1>Photos</h1>

{% assign years = site.photos | where: "year" | map: "year" | uniq | sort | reverse %}

{% for year in years %}
    <h2>{{ year }}</h2>
    {% assign photos = site.photos | where: "year", year %}

    {% for photo in photos %}
        {% assign rowcount = forloop.index | modulo: 3 %}

        {% if rowcount == 1 %}
            <div class="row">
        {% endif %}
            <div class="col-4">
            	<a href="{{ photo.url }}" ><img class="img-fluid" src="photos/{{ photo.image }}" /></a>
            </div>
        {% if rowcount ==  0 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}

{% endfor %}

<h2>Unknown</h2>
{% assign photos = site.photos | where: "year", nil %}

{% for photo in photos %}
    {% assign rowcount = forloop.index | modulo: 3 %}

    {% if rowcount == 1 %}
        <div class="row">
    {% endif %}
        <div class="col-4">
            <a href="{{ photo.url }}" ><img class="img-fluid" src="photos/{{ photo.image }}" /></a>
        </div>
    {% if rowcount ==  0 or forloop.last %}
        </div>
    {% endif %}
{% endfor %}
